.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .both-eyes {
    display: flex;
    gap: 6px;
  }
  
  .both-eyes .eye {
    display: block;
    position: relative;
    width: 68px;
    height: 67px;
    border-radius: 50%;
    margin: 0 5px;
    background: skyblue;
  }
  
  .both-eyes .eye::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: black;
    transform: translate(-50%, -50%);
  }